@use 'base/variables' as v;
@use 'base/mixins' as m;

footer{
    background-color: v.$grisOscuro;
    padding: 2.5rem 0;
    margin-top: 2.5rem;

    .navegacion{
        visibility: visible;
        opacity: 1;
        height: auto;
    }

    .contenedor-footer{
        padding: 2.5rem 0;
    }
    .copyrigth{
        color: v.$blanco;
        text-align: center;
        margin: 0;
    }
}

